---
import type { Project } from '@/types/project';
import Layout from '@/layouts/Layout.astro';
import { projects } from '@/data/projects';

export function getStaticPaths() {
  return projects.map(project => ({
    params: { project: project.slug }
  }));
}

const { project } = Astro.params;
const projectData: Project | undefined = projects.find(p => p.slug === project);

if (!projectData) {
  return Astro.redirect('/404');
}
---

<Layout title={projectData.title} description={projectData.description}>
  <article class="container mx-auto px-4 py-16 max-w-5xl text-chart-2">
    <header class="mb-12">
      <div class="flex flex-col gap-4 md:flex-row md:items-start md:justify-between pb-8">
        <div class="flex-1 space-y-6">
          <h1 class="text-6xl md:text-6xl font-light text-chart-2">
            {projectData.title}
          </h1>
           <div class="flex md:items-center md:justify-between gap-4 border-y-1 border-chart-2/25 py-4">
                <div class="uppercase text-sm tracking-widest">Service</div>
                <div class="flex flex-wrap gap-2 mt-1 md:mt-0">
                    {projectData.categories.map(category => (
                    <span class="border border-chart-2/25 px-4 py-2 text-base font-normal rounded-none bg-transparent">{category}</span>
                    ))}
                </div>
            </div>
          <div class="flex justify-between">
            <span class="uppercase text-sm tracking-widest">Year</span>
            <span class="text-base font-normal mt-1 md:mt-0">{projectData.year}</span>
           </div>
        </div>
        <div class="flex-1 flex items-center justify-center md:justify-end mt-8 md:mt-0">
          {projectData.featuredImage && (
            <img src={projectData.featuredImage} alt={projectData.title} class="w-full p-6" />
          )}
        </div>
      </div>
      <div class="text-left text-lg mt-12">
        {projectData.description}
      </div>
    </header>
    
    <div class="prose prose-lg dark:prose-invert mx-auto">
      {projectData.images && projectData.images.length > 0 && projectData.images.map((img, idx) => (
        <img
          src={img}
          alt={`${projectData.title} image ${idx + 1}`}
          class="w-full h-auto border-dashed bg-gray-200"
          loading="lazy"
        />
      ))}
    </div>
    
    <div class="mt-16 text-center">
      <a href="/work" class="btn-primary inline-block">
        View All Projects
      </a>
    </div>
  </article>
</Layout>